body  {
    font-family: 'Fira Sans', sans-serif;
    background-color: #70f056;
}
.container  {
    width: 800px;
    height: 340px;
    margin: 0 auto;
    padding: 30px;
    background-color: #eaf559fb;
    border: 1px solid #d3d3738c;
}
.title  {
    padding: 20px 0 0;
    text-align: center;
    font-size: 34px;
    color: #1e880fe1;
}
.question  {
    padding: 20px;
    margin: 10px 0;
    font-size: 24px;
    background-color: #077916;
    color: #f7f736;
}
.option  {
    width: 370px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 15px;
    margin: 10px 0 10px 10px;
}
.option:hover  {
    background-color: #17f134;
}
.next-btn  {
    width: 200px;
    height: 45px;
    margin: 10px 300px;
    border: none;
    font-size: 20px;
    background-color: #077916;
    color: #f7f736;
    
}
.next-btn:hover  {
    background-color: #16be2c;
    color: #04360b;
}
.result  {
    height: 120px;
    text-align: center;
    font-size: 45px;
}